 <form id="add-todo-form" action="#" method="post">
     <input type="text"  id="add-recipe-name" value="" name="food" placeholder="Name">
     <input type="text"  id="add-recipe-ingredient1" value="" name="ingredient" placeholder="Ingredient">
     <input type="text"  id="add-recipe-ingredient2" value="" name="ingredient" placeholder="Ingredient">
     <input type="text"  id="add-recipe-ingredient3" value="" name="ingredient" placeholder="Ingredient">
     <input type="text"  id="add-recipe-ingredient4" value="" name="ingredient" placeholder="Ingredient">
     <input type="text"  id="health" value="" name="health" placeholder="Health">
     <input type="text"  id="hunger" value="" name="hunger" placeholder="Hunger">
     <input type="text"  id="sanity" value="" name="sanity" placeholder="Sanity">
     <input type="button" id="add-todo-btn" value="add">
 </form>